Repository jakartaee/faces, pull requests merged in 2022-02, with the labels that each got.

#1625 Migrate faces23/flash test to TCK
  tck/faces23/flash/pom.xml
  tck/faces23/flash/src/main/java/ee/jakarta/tck/faces/test/javaee8/flash/Issue4167.java
  tck/faces23/flash/src/main/webapp/WEB-INF/beans.xml
  tck/faces23/flash/src/main/webapp/WEB-INF/faces-config.xml
  tck/faces23/flash/src/main/webapp/WEB-INF/web.xml
  tck/faces23/flash/src/main/webapp/issue4167.xhtml
  tck/faces23/flash/src/test/java/ee/jakarta/tck/faces/test/javaee8/flash/Issue4167IT.java
  tck/faces23/pom.xml
Labels: TCK

#1628 Cleanup irrelevant pageflow files
  .gitignore
  tck/faces22/cdiInitDestroyEvent/.metadata/src/main/webapp/WEB-INF/faces-config.pageflow
  tck/faces22/protectedView/.metadata/src/main/webapp/WEB-INF/faces-config.pageflow
  tck/faces23/importConstants/.metadata/src/main/webapp/WEB-INF/faces-config.pageflow
Labels: TCK

#1629 Fix incorrect context params
  tck/faces22/viewParamNullValueAjax/src/main/webapp/WEB-INF/web.xml
  tck/faces23/importConstants/src/main/webapp/WEB-INF/web.xml
Labels: TCK

#1635 Migrate test/servlet40/refreshPeriod* to tck/faces23
  tck/faces23/pom.xml
  tck/faces23/refreshPeriodExplicit/pom.xml
  tck/faces23/refreshPeriodExplicit/src/main/java/ee/jakarta/tck/faces/test/servlet40/refreshperiodexplicit/UserBean.java
  tck/faces23/refreshPeriodExplicit/src/main/webapp/WEB-INF/beans.xml
  tck/faces23/refreshPeriodExplicit/src/main/webapp/WEB-INF/faces-config.xml
  tck/faces23/refreshPeriodExplicit/src/main/webapp/WEB-INF/web.xml
  tck/faces23/refreshPeriodExplicit/src/main/webapp/index.xhtml
  tck/faces23/refreshPeriodExplicit/src/test/java/ee/jakarta/tck/faces/test/servlet40/refreshperiodexplicit/Isuse3787IT.java
  tck/faces23/refreshPeriodProduction/pom.xml
  tck/faces23/refreshPeriodProduction/src/main/java/ee/jakarta/tck/faces/test/servlet40/refrehsperiodproduction/UserBean.java
  tck/faces23/refreshPeriodProduction/src/main/webapp/WEB-INF/beans.xml
  tck/faces23/refreshPeriodProduction/src/main/webapp/WEB-INF/faces-config.xml
  tck/faces23/refreshPeriodProduction/src/main/webapp/WEB-INF/web.xml
  tck/faces23/refreshPeriodProduction/src/main/webapp/index.xhtml
  tck/faces23/refreshPeriodProduction/src/test/java/ee/jakarta/tck/faces/test/servlet40/refreshperiodproduction/Isuse3787IT.java
Labels: TCK

#1631 Migrate test/javaee8/uiinput-required-true to tck/faces23
  tck/faces23/pom.xml
  tck/faces23/uiinput-required-true/pom.xml
  tck/faces23/uiinput-required-true/src/main/java/ee/jakarta/tck/faces/test/javaee8/uiinput/Spec1433Bean.java
  tck/faces23/uiinput-required-true/src/main/webapp/WEB-INF/beans.xml
  tck/faces23/uiinput-required-true/src/main/webapp/WEB-INF/faces-config.xml
  tck/faces23/uiinput-required-true/src/main/webapp/WEB-INF/web.xml
  tck/faces23/uiinput-required-true/src/main/webapp/spec1433.xhtml
  tck/faces23/uiinput-required-true/src/test/java/ee/jakarta/tck/faces/test/javaee8/uiinput/Spec1433IT.java
Labels: TCK

#1633 Migrate javaee8 faces data model to tck
  tck/faces23/facesDataModel/pom.xml
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Child1.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Child11.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Child111.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Child11Model.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Child1Model.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Child2.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Child21.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Child21Model.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Child2Model.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/DataBacking.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/Parent.java
  tck/faces23/facesDataModel/src/main/java/ee/jakarta/tck/faces/test/javaee8/facelets/ParentModel.java
  tck/faces23/facesDataModel/src/main/webapp/WEB-INF/beans.xml
  tck/faces23/facesDataModel/src/main/webapp/WEB-INF/faces-config.xml
  tck/faces23/facesDataModel/src/main/webapp/WEB-INF/web.xml
  tck/faces23/facesDataModel/src/main/webapp/datatableCustomDataModel11.xhtml
  tck/faces23/facesDataModel/src/main/webapp/datatableCustomDataModel111.xhtml
  tck/faces23/facesDataModel/src/main/webapp/uirepeatCustomDataModel11.xhtml
  tck/faces23/facesDataModel/src/main/webapp/uirepeatCustomDataModel111.xhtml
  tck/faces23/facesDataModel/src/test/java/ee/jakarta/tck/faces/test/javaee8/facelets/DataTableCustomDataModelIT.java
  tck/faces23/facesDataModel/src/test/java/ee/jakarta/tck/faces/test/javaee8/facelets/UIRepeatCustomDataModelIT.java
  tck/faces23/pom.xml
Labels: TCK

#1637 Add assembly to package the full TCK as a .zip archive.
  tck/pom.xml
  tck/zip.xml
Labels: TCK

#1638 Set name of resulting assembly zip file to required one
  tck/pom.xml
Labels: 4.0, TCK

#1639 Update copyright year and API dependencies
  api/pom.xml
Labels: 4.0
